.team_mission_statement {
  display: flex;
  position: relative;
  margin: 120px 0 50px 0;
  padding-top: 5%;
}
.team_mission_statement .statement {
  width: 45%;
  margin: 0 1%;
}
.team_mission_statement .statement h1 {
  font-size: 1.8rem;
  margin: 0;
}
.team_mission_statement .statement p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.team_mission_statement .statement .button_badges_container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_mission_statement .statement .button_badges_container button {
  align-self: center;
  width: 70%;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.team_mission_statement .statement .button_badges_container .badges {
  width: 70%;
}
.team_mission_statement .statement .button_badges_container .badges .ios {
  width: 45%;
}
.team_mission_statement .statement .button_badges_container .badges .android {
  width: 55%;
}
.team_mission_statement h1 {
  font-size: 3rem;
  color: #4aa810;
}
.team_mission_statement p {
  font-size: 2.2rem;
  text-align: justify;
}
.team_mission_statement .imagediv {
  width: 55%;
  margin: 0 1%;
}
.team_mission_statement .imagediv .teamPage_main_pic {
  width: 100%;
  margin-right: 1%;
}
@media (max-width: 700px) {
  .team_mission_statement {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
  }
  .team_mission_statement .how_it_works {
    width: 100%;
  }
  .team_mission_statement .testimony_button_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 25px 0 55px 0;
  }
  .team_mission_statement .testimony_button_div .testimony_image {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 450px;
  }
  .team_mission_statement .testimony_button_div .testimony_image img {
    height: 75px;
    transform: rotate(-7deg);
  }
  .team_mission_statement .testimony_button_div .testimonial_button {
    width: 300px;
    background-color: #4aa810;
    box-shadow: 0px 3px #3e8c0d;
    color: #e2f5d6;
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    opacity: 0.92;
    outline: none;
  }
  .team_mission_statement button:active {
    margin: 3px 0 -3px 0;
  }
  .team_mission_statement .statement {
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .team_mission_statement .statement p {
    background: #5b4eff;
    color: white;
    font-size: 1.5rem;
    text-align: justify;
    padding: 10%;
  }
  .team_mission_statement .statement .teamPage_main_pic {
    width: 75%;
    height: auto;
    position: initial;
    align-self: center;
  }
  .team_mission_statement .statement h1 {
    font-size: 2.1rem;
    color: #4aa810;
    margin: 10% auto 3% auto;
    text-align: center;
  }
  .team_mission_statement .little_hands {
    font-size: 2rem;
    text-align: center;
    margin: 10% auto 5%;
  }
  .team_mission_statement .more_info {
    width: 100%;
  }
  .team_mission_statement .more_info img {
    width: 100%;
  }
}

.who_we_are {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.who_we_are .Who_we_are_firefly {
  width: 20%;
  position: absolute;
  top: -15.5%;
  left: 10%;
}
@media (max-width: 700px) {
  .who_we_are .Who_we_are_firefly {
    width: 40%;
    position: relative;
    margin-top: -5.89%;
  }
}
.who_we_are .team_view {
  height: 60%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .who_we_are .team_view {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .who_we_are .team_view .member_div {
    width: 50%;
    height: 50%;
  }
  .who_we_are .team_view .member_div .member_pics {
    height: 27vh;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .who_we_are {
    height: auto;
  }
}

.testimony_button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 25px 0 55px 0;
}
.testimony_button_div .testimony_image {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 450px;
}
.testimony_button_div .testimony_image img {
  height: 75px;
  transform: rotate(-7deg);
}
.testimony_button_div .testimonial_button {
  width: 300px;
  background-color: #4aa810;
  box-shadow: 0px 3px #3e8c0d;
  color: #e2f5d6;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  opacity: 0.92;
  outline: none;
}

button:active {
  margin: 3px 0 -3px 0;
}

.all-testimonies {
  margin: 50px 100px 0px 100px;
}
.all-testimonies .testimony_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.all-testimonies .testimony_container .testimony {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin: 15px;
}
.all-testimonies .testimony_container .testimony .user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  font-size: 1.1rem;
}
.all-testimonies .testimony_container .testimony .user_info .user_name,
.all-testimonies .testimony_container .testimony .user_info .title {
  margin: 0;
}
.all-testimonies .testimony_container .testimony .user_info .user_name {
  font-weight: 700;
}
.all-testimonies .testimony_container .testimony .testimony_text {
  padding-left: 15px;
  font-size: 1.1rem;
}
@media (max-width: 700px) {
  .all-testimonies .testimony_container .testimony {
    width: 100%;
    flex-direction: column;
  }
  .all-testimonies .testimony_container .testimony img {
    width: 50%;
    position: initial;
  }
  .all-testimonies .testimony_container .testimony .testimony_text {
    font-size: 1.2rem;
    width: 95%;
    padding: 3.5%;
  }
  .all-testimonies .testimony_container .testimony .user_info {
    width: 100%;
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all-testimonies .testimony_container .testimony .user_info .user_name {
    margin: 0;
    font-weight: 700;
    text-align: center;
  }
}
@media (max-width: 700px) and (max-width: 510px) {
  .all-testimonies .testimony_container .testimony .user_info .user_name {
    font-size: 38px;
  }
}
@media (max-width: 700px) {
  .all-testimonies .testimony_container .testimony .user_info .title {
    margin: 0;
  }
}
@media (max-width: 700px) and (max-width: 510px) {
  .all-testimonies .testimony_container .testimony .user_info .title {
    font-size: 36px;
  }
}
@media (max-width: 700px) {
  .all-testimonies .testimony_container .testimony .user_info img {
    margin: 0;
  }
}
@media (max-width: 700px) {
  .all-testimonies .testimony_container .testimony .testimony_text {
    font-size: 1.2rem;
    margin: 0;
    text-align: justify;
  }
}
@media (max-width: 700px) and (max-width: 510px) {
  .all-testimonies .testimony_container .testimony .testimony_text {
    font-size: 38px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .all-testimonies .testimony_container {
    height: auto;
  }
  .all-testimonies .testimony_container .testimony_text {
    font-size: 50px;
  }
}

/*# sourceMappingURL=team.css.map */
