/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: "Nunito", sans-serif;
  color: #23293B;
}

h1, h2, h3, h4, h5 {
  font-family: "Nunito", sans-serif;
  color: #4aa810;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .navbar a img {
  height: 100px;
  width: 100px;
}
header .navbar nav {
  width: 50%;
  font-weight: 900;
}
header .navbar nav a {
  text-decoration: none;
  color: #5b4eff;
  font-size: 16px;
  margin: 0 10px;
}
header .navbar nav .sign-in {
  border: 1px solid #5b4eff;
  padding: 5.5px 15.5px;
  border-radius: 5px;
}
header .navbar nav .sign-up {
  border: 1px solid #5b4eff;
  color: #F1F1F1;
  background: #5b4eff;
  padding: 5.5px 15.5px;
  border-radius: 5px;
}

footer {
  background-color: #5E6164;
  margin: 0 auto;
  padding-bottom: 25px;
  border: 1px solid #23293B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer nav {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
footer nav .footer-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
footer nav .footer-row .footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
footer nav .footer-row .footer-column a {
  color: #F1F1F1;
  font-size: 1.6rem;
  padding: 10px;
}
footer nav .footer-logo {
  width: 10%;
}
footer nav .copyright {
  color: #5b4eff;
  font-size: 1rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  font-family: "Nunito", sans-serif;
}
.container .mission-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.container .mission-wrapper .mission-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.container .mission-wrapper .mission-left h1 {
  color: #4aa80f;
  font-size: 3.5rem;
  font-weight: 900;
}
.container .mission-wrapper .mission-left p {
  margin-top: 2rem;
  width: 95%;
  font-size: 1.8rem;
}
.container .mission-wrapper .mission-left button {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  width: 300px;
  background-color: #4aa810;
  box-shadow: 0px 3px #3e8c0d;
  color: #e2f5d6;
  padding: 0.8rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
}
.container .mission-wrapper .mission-right {
  width: 61%;
}
.container .icon-container {
  margin-top: 8rem;
}
.container .icon-container h2 {
  color: #4aa810;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 900;
}
.container .icon-container .icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .icon-container .icon-wrapper .icon {
  width: 30%;
  font-size: 2rem;
}
.container .icon-container .icon-wrapper .icon p {
  font-size: 2rem;
}
.container .how-it-works-wrapper {
  background: #5b4eff;
  padding: 0.5rem 0rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}
.container .how-it-works-wrapper h2 {
  margin-top: 3rem;
  color: white;
  font-weight: 900;
  text-align: center;
}
.container .how-it-works-wrapper .hiw-row {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.container .how-it-works-wrapper .hiw-row .hiw-video {
  width: 45%;
  border-radius: 1.5rem;
}
.container .how-it-works-wrapper .hiw-row .hiw-text-container {
  width: 45%;
}
.container .how-it-works-wrapper .hiw-row .hiw-text-container .hiw-text {
  font-size: 2rem;
  color: white;
}
.container .how-it-works-wrapper .hiw-image {
  margin-left: 88%;
  width: 10%;
  position: absolute;
  right: 5%;
  bottom: -10.1%;
}
.container .testimonials {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.container .testimonials .testimonial {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.container .testimonials .testimonial .profile-info h4 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
  font-weight: 900;
}
.container .testimonials .testimonial .profile-info h5 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  font-family: "Nunito", sans-serif;
}
.container header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container header .navbar a img {
  height: 100px;
  width: 100px;
}
.container header .navbar nav {
  width: 50%;
  font-weight: 900;
}
.container header .navbar nav a {
  text-decoration: none;
  color: #5b4eff;
  font-size: 16px;
  margin: 0 10px;
}
.container header .navbar nav .sign-in {
  border: 1px solid #5b4eff;
  padding: 5.5px 15.5px;
  border-radius: 5px;
}
.container header .navbar nav .sign-up {
  border: 1px solid #5b4eff;
  color: white;
  background: #5b4eff;
  padding: 5.5px 15.5px;
  border-radius: 5px;
}
.container .mission-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.container .mission-wrapper .mission-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.container .mission-wrapper .mission-left h1 {
  color: #4aa80f;
  font-size: 3.5rem;
  font-weight: 900;
}
.container .mission-wrapper .mission-left p {
  margin-top: 2rem;
  width: 95%;
  font-size: 1.8rem;
}
.container .mission-wrapper .mission-left p em {
  font-style: italic;
}
.container .mission-wrapper .mission-left button {
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  width: 300px;
  background-color: #4aa810;
  box-shadow: 0px 3px #3e8c0d;
  color: #e2f5d6;
  padding: 0.8rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
}
.container .mission-wrapper .mission-right {
  width: 61%;
}
.container .icon-container {
  margin-top: 8rem;
}
.container .icon-container h2 {
  color: #4aa810;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 900;
}
.container .icon-container .icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .icon-container .icon-wrapper .icon {
  width: 30%;
  font-size: 2rem;
}
.container .icon-container .icon-wrapper .icon p {
  font-size: 2rem;
}
.container .how-it-works-wrapper {
  background: #5b4eff;
  padding: 0.5rem 0rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}
.container .how-it-works-wrapper h2 {
  margin-top: 3rem;
  color: white;
  font-weight: 900;
  text-align: center;
}
.container .how-it-works-wrapper .hiw-row {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.container .how-it-works-wrapper .hiw-row .hiw-video {
  width: 45%;
  border-radius: 1.5rem;
}
.container .how-it-works-wrapper .hiw-row .hiw-text-container {
  width: 45%;
}
.container .how-it-works-wrapper .hiw-row .hiw-text-container .hiw-text {
  font-size: 2rem;
  color: white;
}
.container .how-it-works-wrapper .hiw-image {
  margin-left: 88%;
  width: 10%;
  position: absolute;
  right: 5%;
  bottom: -10.1%;
}
.container .testimonials {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.container .testimonials .testimonial {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.container .testimonials .testimonial .profile-info h4 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
  font-weight: 900;
}
.container .testimonials .testimonial .profile-info h5 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
}

/*# sourceMappingURL=index.css.map */
