<<<<<<< HEAD
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: "Nunito", sans-serif;
  color: #23293B;
}

h1, h2, h3, h4, h5 {
  font-family: "Nunito", sans-serif;
  color: #4aa810;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}
header .navbar a img {
  width: 250px;
  height: auto;
}
header .navbar nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 50%;
  font-weight: 900;
}
header .navbar nav a {
  text-decoration: none;
  color: #5b4eff;
  font-size: 16px;
}
header .navbar nav .sign-in {
  border: 1px solid #5b4eff;
  padding: 5.5px 15.5px;
  border-radius: 5px;
}
header .navbar nav .sign-up {
  border: 1px solid #5b4eff;
  color: #F1F1F1;
  background: #5b4eff;
  padding: 5.5px 15.5px;
  border-radius: 5px;
}
@media (max-width: 1112px) {
  header a img {
    width: 30%;
  }
  header nav {
    width: 60%;
  }
  header nav a {
    margin: 0 5px;
  }
}
@media (max-width: 812px) {
  header .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header .navbar a img {
    width: 100%;
  }
  header .navbar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  header .navbar nav a {
    margin: 10px;
  }
}
footer {
  background-color: #5b4eff;
  margin: 0 auto;
  padding-bottom: 25px;
  border: 1px solid #23293B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
footer nav {
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
footer nav .footer-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
footer nav .footer-row .footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
footer nav .footer-row .footer-column a {
  color: #F1F1F1;
  font-size: 1.6rem;
  padding: 10px;
}
footer nav .footer-logo {
  width: 10%;
}
footer .copyright {
  color: #4aa810;
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 1112px) {
  footer nav {
    width: 800px;
    justify-content: space-evenly;
  }
  footer nav .footer-row {
    justify-content: space-between;
    width: 50%;
  }
  footer nav .footer-row .footer-column {
    padding: 20px;
  }
  footer nav .footer-row .footer-column a {
    padding: 10px;
  }
}
@media (max-width: 812px) {
  footer {
    padding-bottom: 10px;
  }
  footer nav {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer nav .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer nav .footer-row .footer-column {
    padding: 15px;
  }
}
.container {
  margin: 0 auto;
  max-width: 1024px;
  font-family: "Nunito", sans-serif;
}
.container .mission-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
@media (max-width: 812px) {
  .container .mission-wrapper {
    margin: 0 auto;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.container .mission-wrapper .mission-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 812px) {
  .container .mission-wrapper .mission-left {
    width: 75%;
    margin-top: 3rem;
  }
}
.container .mission-wrapper .mission-left h1 {
  color: #4aa80f;
  font-size: 3.5rem;
  font-weight: 900;
}
.container .mission-wrapper .mission-left p {
  margin-top: 2rem;
  width: 95%;
  font-size: 1.8rem;
}
.container .mission-wrapper .mission-left p em {
  font-style: italic;
}
.container .mission-wrapper .mission-left button {
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  width: 300px;
  background-color: #4aa810;
  box-shadow: 0px 3px #3e8c0d;
  color: #e2f5d6;
  padding: 0.8rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
}
.container .mission-wrapper .mission-right {
  width: 61%;
}
@media (max-width: 812px) {
  .container .mission-wrapper .mission-right {
    width: 100%;
    margin: 0 auto;
  }
}
.container .icon-container {
  margin-top: 8rem;
}
.container .icon-container h2 {
  color: #4aa810;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 900;
}
@media (max-width: 812px) {
  .container .icon-container h2 {
    text-align: center;
  }
}
.container .icon-container .icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 812px) {
  .container .icon-container .icon-wrapper {
    flex-direction: column-reverse;
  }
}
.container .icon-container .icon-wrapper .icon {
  width: 30%;
  font-size: 2rem;
}
@media (max-width: 812px) {
  .container .icon-container .icon-wrapper .icon {
    width: 75%;
    margin-top: 3rem;
  }
}
.container .icon-container .icon-wrapper .icon p {
  font-size: 2rem;
}
.container .how-it-works-wrapper {
  background: #5b4eff;
  padding: 0.5rem 0rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}
.container .how-it-works-wrapper h2 {
  margin-top: 3rem;
  color: white;
  font-weight: 900;
  text-align: center;
}
.container .how-it-works-wrapper .hiw-row {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
@media (max-width: 812px) {
  .container .how-it-works-wrapper .hiw-row {
    flex-direction: column;
    width: 100%;
  }
}
.container .how-it-works-wrapper .hiw-row .hiw-video {
  width: 45%;
  border-radius: 1.5rem;
}
@media (max-width: 812px) {
  .container .how-it-works-wrapper .hiw-row .hiw-video {
    margin: 0 auto;
    width: 75%;
  }
}
.container .how-it-works-wrapper .hiw-row .hiw-text-container {
  width: 45%;
}
@media (max-width: 812px) {
  .container .how-it-works-wrapper .hiw-row .hiw-text-container {
    margin: 0 auto;
    width: 75%;
  }
}
.container .how-it-works-wrapper .hiw-row .hiw-text-container .hiw-text {
  font-size: 2rem;
  color: white;
}
@media (max-width: 812px) {
  .container .how-it-works-wrapper .hiw-row .hiw-text-container .hiw-text {
    margin-top: 3rem;
  }
}
.container .how-it-works-wrapper .hiw-image {
  margin-left: 88%;
  width: 10%;
  position: absolute;
  right: 5%;
  bottom: -10.1%;
}
.container .testimonials {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.container .testimonials .testimonial {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.container .testimonials .testimonial .profile-info h4 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
  font-weight: 900;
}
.container .testimonials .testimonial .profile-info h5 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
}
.container .onboarding .cta-btn-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.container .onboarding .cta-btn-wrapper .join {
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
  width: 300px;
  background-color: #4aa810;
  box-shadow: 0px 3px #3e8c0d;
  color: #e2f5d6;
  padding: 0.8rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 5rem;
}

.team_page_container {
  display: flex;
  justify-content: center;
  font-family: nunito;
  flex-direction: column;
}
.team_page_container .team_mission_statement {
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.team_page_container .team_mission_statement .statement {
  width: 65.5vw;
  margin: 4rem 0 8rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.team_page_container .team_mission_statement .statement .statement2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  margin: 0 1.5rem 0 0;
}
.team_page_container .team_mission_statement .statement .statement2 div {
  margin: 0 10px;
}
.team_page_container .team_mission_statement .statement .statement2 div h1 {
  font-size: 3.6rem;
  margin: 0 0 3rem 0;
  font-weight: 700;
}
.team_page_container .team_mission_statement .statement .statement2 div p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.team_page_container .team_mission_statement .statement .statement2 .button_badges_container {
  margin: 3rem 0 0 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team_page_container .team_mission_statement .statement .statement2 .button_badges_container button {
  width: 70%;
  font-size: 1.76rem;
}
.team_page_container .team_mission_statement .statement .statement2 .button_badges_container .badges {
  width: 70%;
}
.team_page_container .team_mission_statement .statement .statement2 .button_badges_container .badges .ios {
  width: 45%;
}
.team_page_container .team_mission_statement .statement .statement2 .button_badges_container .badges .android {
  width: 55%;
}
.team_page_container .team_mission_statement .statement .teamPage_main_pic {
  width: 55%;
}

.our_story {
  background: #5b4eff;
  color: white;
  width: 65.5vw;
}
.our_story h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: white;
  margin: 4rem 0;
}
.our_story .our_story_text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1.2rem 0;
}
.our_story .our_story_text .our_story_pdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_story .our_story_text .our_story_pdiv p {
  font-size: 3rem;
  line-height: 3rem;
  width: 50%;
  text-align: center;
}
.our_story .fireFly_hat {
  width: 9%;
  position: relative;
  top: 50%;
  left: 85%;
=======
/* Error: expected "{".
 *     ,
 * 260 | >>>>>>> origin/master
 *     |                      ^
 *     '
 *   sass/how-firefly-works-page.scss 260:22  @import
 *   sass/index.scss 22:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
>>>>>>> 455e79c573142a1fcef2c5a48293dbc30e53dc87
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 260 \2502  >>>>>>> origin/master\a     \2502                       ^\a     \2575 \a   sass/how-firefly-works-page.scss 260:22  @import\a   sass/index.scss 22:9                     root stylesheet';
}
