footer {
  background-color: $footer-background;
  margin: 0 auto;
  padding-bottom: 25px;
  border: 1px solid $ebony-clay;
  @include flex(column, center, center);
  white-space: nowrap;
  
  nav {
    width: 1000px;
    @include flex(row, flex-start, space-between);

    .footer-row {
      @include flex(row, flex-start, space-around);

      .footer-column {
        @include flex(column, center, center);
        padding: 25px;
        
        a {
          color: $footer-font-color;
          font-size: 1.6rem;
          padding: 10px;
        }
      }
    }
    
    .footer-logo {
      width: 10%;

    }
    
  }
  .copyright {
    color: $copyright-color;
    font-size: 1rem;
    text-align: center;
  }

  @include tablet {
    nav {
      width: 800px;
      justify-content: space-evenly;
      
      .footer-row {
        justify-content: space-between;
        width: 50%;
  
        .footer-column {
          padding: 20px;
          
          a {
            padding: 10px;
          }
        }
      }
    }
  }

  @include mobile {
    padding-bottom: 10px;
    
    nav {
      width: 400px;
      @include flex(column, center, center);
  
      .footer-row {
        @include flex(column, center, center);
  
        .footer-column {
          padding: 15px;
        }
      }   
    }  
  }

  @include mobileM { 
  
  }
}