footer {
  background-color: $footer-background;
  margin: 0 auto;
  @include flex(column, center, center);

  nav {
    width: 1000px;
    margin: 0 auto;
    @include flex(row, center, space-between);

    .footer-column {
      @include flex(column, center, center);
      padding: 25px;
      
      a {
        color: $footer-font-color;
        font-size: 1.2rem;
        padding: 10px;
      }
    }
    
    .footer-logo {
      width: 10%;
      
    }
    
    .copyright {
      color: $copyright-color;
      text-align: center;
    }
  }
}