.button_badges_container {
  padding-top: 2.5%;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 

  button{
  
      width: 300px;
      background-color: #4aa810;
      box-shadow: 0px 3px #3e8c0d;
      color:#e2f5d6;
      padding: 0.8rem;
      text-transform: uppercase;
      font-size:1.2rem;
      border: none;
      border-radius:10px;
      opacity:0.92;
      outline: none;  
  }
  button:active {
      margin: 3px 0 -3px 0;
  }

  .badges {
      display: flex;
      cursor: pointer;
      // align-self: flex-start;
      width: 300px;
      padding-top: 5px;
      .ios {
          width: 43%;
          margin-left: 3%;
      }

      .android {
          width: 53%;
      }
     
  }
  
}

.how_mission_statement {
    
  .text {
      word-spacing: 0;
      width: 80%;
      text-align: justify;
  }
  

      
  
}

.firefly_tutorial_container {

  margin-top: 10%;

  .text_container {
      // border: 1px solid black;
      background: #5B4EFF;
      color: white;
      font-size: 2.1rem;
      display: flex;
      justify-content: center;
      position: relative;

      p {
          // border: 1px solid blueviolet;
          padding: 5% 17%;
          font-size: 1.5rem;
          text-align: center;
          // margin: 0 auto;
      }

      img {
          width: 11%;
          position: absolute;
          transform: rotate(-10deg);
          bottom: -13%;
          right: 10%;
      }
  }

  .tutorial_divs {

      // border: 2px solid magenta;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10%;

      h1 {
          font-size: 2.5rem;
          color: #4AA810;
      }

      .content_container {
          display: flex;
          justify-content: space-around;
          width: 100%;
          margin-bottom: 15%;
          .content {
              
              h2 {
                  font-size: 1.2rem;
                  text-align: center;
              }
          }
      }

      
      
  }

  .div1, .div2, .div3 {

      h1 {
          margin-bottom:10%; 
      }
      .content_container {

          .content {
              width: 30%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-end;
              

              img {
                  width: 100%;
              }
          }
      }
  }

  .div1 {
      

      

      .content_container {

          .content2 {
              padding: 0;
              margin-left: 7%;

             

              .block_container {
                  display: flex;
                  width: 100%;
                  height: 100%;
                  
                  .img3 {
                      align-self: flex-end;
                  }
      
              }
          }

          .content3 {
              // width: 20%;
              .img4 {

                  width: 55%;
              }
          }
      }

  }

  .div2 {
      background: #F7F6FF;
  }

  

  
}

.modal_icon_container {
  position: absolute;
  
  // border: 2px solid black;
  width: 100%;
  visibility: hidden;
  justify-content: center;
  
  


  
  .icon_div {
      display: flex;
      justify-content: center; 
      align-items: center;
      border-radius: 50px;
      background: #5B4EFF;
      width: 25%;
      height: 4.5vh;
      margin: 0 3%;
      margin-top: 5%;
      opacity: .7;

      &:hover {
          opacity: 1;
      }
      

      a {
         
          
          i {
              color: white;
              cursor: pointer;
          }
      }
  }
}



@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    line-height: 1.2;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   
}

a {
    text-decoration: none;
    color: #5B4EFF;
}

body{
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    margin: 0;
    
}

.container {
    

    max-width: 1600px;
    
    .test_div {
        padding: 5%;

        @media (max-width: 700px) {
            padding: 0;
        }
    }
    
}


.background-container {
  margin-top: 55px;
  background: #5b4eff;

  .how_it_works {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 79px;

    .middle_page_firefly {
      width: 10%;
      position: absolute;
      right: 5%;
      bottom: -10.1%;
    }

    h2 {
      margin: 35px 0;
      align-self: center;
      font-size: 1.7rem;
      color: white;
      letter-spacing: 2px;
    }

    .how_it_works_des {
      // border: 1px solid blue;
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 3%;
      margin: 0 auto;

      .video {
        border-radius: 10px;
        outline: none;
      }

      .how_it_works_text {
        width: 50%;
        padding-left: 5%;
        // border: 1px solid red;

        p {
          line-height: 1.6rem;
          margin: 0;
          margin-bottom: 5%;
          text-align: justify;
        }
      }
    }

    img {
      position: absolute;
      right: 5%;
      z-index: 3;
      transform: rotate(-7deg);
    }
  }
}


.statement-bottom{

  margin-top: 50px;

  .little_hands {
      color: #4AA810;
      font-size: 1.8rem;
  }
  
  .more_info {
      width: 100%;
      // border: 1px solid black;
      display: flex;
      justify-content: space-between;
      font-size: 1.1rem;
  

      .tags {
          // border: 1px solid red;
          // margin: 1%;
          width: 27%;
          font-size: 1.1rem;

          p {
              line-height: 1.5rem;
              margin-top: 0;
          }
      }
  }
}


.mission_statement {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 8%;
  margin: 120px 0 50px 0;

  .image{
      width: 55%;
      
      .firefly_hero_img{
          width: 100%;
          margin: 10px;
      }
  }


  .text {
      width: 45%;
      display: flex;
      flex-direction: column;
      word-spacing: 2px;
      margin-right: 10px;

      p {
          font-size: 1.1rem;
          width: 95%;
          text-align: justify;
          line-height: 1.5rem;
          margin-top: 0;
      }

      h1 {
          color: #4AA810;
          font-size: 1.8rem;
      }


  }
  
}
