.img-carousel {
  display:none;
}

.how_firefly_works_container {

  .mission_statement {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 8%;
    margin: 120px 0 50px 0;


    @media (max-width: 800px) {
    //   padding: 0;
    //   width: 100%;
    //   margin-top: 500%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .text {
      width: 45%;
      display: flex;
      flex-direction: column;
      // word-spacing: 2px;
      margin-right: 10px;
      
      h1 {
        color: #4AA810;
        font-size: 2.88rem;
        margin-bottom: 2rem;
      }
      
      p {
        font-size: 1.76rem;
        width: 95%;
          
        text-align: justify;
        line-height: 1.5rem;
        margin-bottom: 2rem;
      }

    } 
  }

  .button_badges_container {
    padding-top: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 

    button {
      width: 300px;
      background-color: #4aa810;
      box-shadow: 0px 3px #3e8c0d;
      color:#e2f5d6;
      padding: 0.8rem;
      text-transform: uppercase;
      font-size:1.92rem;
      border: none;
      border-radius:10px;
      opacity:0.92;
      outline: none;  


    }

    button:active {
      margin: 3px 0 -3px 0;
    }

    .badges {
      display: flex;
      cursor: pointer;
      width: 300px;
      padding-top: 5px;

      .ios {
        width: 43%;
        margin-left: 3%;
      }

      .android {
        width: 53%;
      }
    }
  }

  .firefly_tutorial_container {
    margin-top: 10%;

    .text_container {
      background: #5B4EFF;
      color: white;
      font-size: 2.1rem;
      display: flex;
      justify-content: center;
      position: relative;

      p {
        padding: 5% 17%;
        font-size: 2.4rem;
        text-align: center;
      }

      img {
        width: 11%;
        position: absolute;
        transform: rotate(-10deg);
        bottom: -13%;
        right: 10%;
      }
    }

    .tutorial_divs {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10%;

      h1 {
        font-size: 4rem;
        color: #4AA810;
      }

      .content_container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 15%;

        .content {
            
          h2 {
            color: black;
            font-size: 1.92rem;
            text-align: center;
          }
        }
      }        
    }

    .tut_div1, .tut_div2, .tut_div3 {

      h1 {
        margin-bottom:10%; 
      }

      .content_container {

        .content {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
            

          img {
            width: 100%;
          }
        }
      }
    }

    .tut_div1 {

      .content_container {

        .content2 {
          padding: 0;
          margin-left: 7%;

          .block_container {
            display: flex;
            width: 100%;
            height: 100%;
              
            .img3 {
              align-self: flex-end;
            }
          }
        }

        .content3 {
          
          .img4 {

            width: 55%;
          }
        }
      }
    }

    .tut_div2 {
      background: #F7F6FF;
    }  
  }

  .testimony_button_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 25px 0 55px 0;

    .testimony_image{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      width: 450px;

      img {
        height: 75px;
        transform: rotate(-7deg);
      }
    }

    .testimonial_button {
      width: 300px;
      background-color: #4aa810;
      box-shadow: 0px 3px #3e8c0d;
      color:#e2f5d6;
      padding: 0.8rem;
      font-size:1.92rem;
      border: none;
      border-radius:10px;
      opacity:0.92;
      outline: none;
    }
  }

}

